<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload and Coordinates Display</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit" value="Upload">
    </form>
    {% if image_url %}
        <div id="uploaded-image-container">
            <img src="{{ image_url }}" alt="uploaded-image" id="uploaded-image">
            <!-- <canvas id="uploaded-image" alt="image-canvas" data-image-url="{{ image_url }}" style="border: 1px solid;" width="500" height="500"></canvas> -->
            <p id="coordinates">Coordinates: (0, 0)</p>
            <select id="options">
                {% for article in articles_detected %}
                    <option value="{{ article }}">{{ article }}</option>
                {% endfor %}
            </select>
            <script>
                const segmentsData = {{ segments_data|tojson }};
            </script>
            <div>
                <input type="radio" name="input_type" value="text" id="text-option" checked>
                <label for="text-option">Text</label>
                <input type="radio" name="input_type" value="image" id="image-option">
                <label for="image-option">Image</label>
            </div>
            <input type="text" id="input-text" placeholder="Enter your text here">
            <input type="file" id="input-image" style="display: none;">
            <button id="submit-data">Submit Data</button>
            <button id="reset">Reset</button>
        </div>
        <div id="generated-images" style="display: none;"></div>
    {% endif %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
